<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="/images/physics.png" type="image/x-icon">
    <title>StudyTonight</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"> 
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>
<body>
    {{>navbar}}
    <div class="bg-img" style="background-color:#111;padding: 200px; color: #fff; font-size: 60px; text-align: center;">
       My<span style="color: coral;font-size:70px;"> Notes </span> You can Use to<span style="color: coral;font-size:70px;"> Prepare </span>
    </div>

    <div class="careerContainer">
        <h1 style="color: coral;font-size:70px; text-align:center;">Job Openings</h1>
        <div class="stonight">
            <div>
                <h1 style="color: coral;font-size:50px;">Marketing</h1>
            </div>
            <ul>
                <li><a href="#">Senior Market Research</a></li>
                <li><a href="#"> Market Research</a></li>
                <li><a href="#">Social Media Marketing</a></li>
            </ul>
              <div>
                <h1 style="color: coral;font-size:50px;">Engineering</h1>
            </div>
            <ul>
                <li><a href="#">UI/UX Developer</a></li>
                <li><a href="#">Graphic Designer</a></li>
                <li><a href="#">Software Engineer Trainee</a></li>
                <li><a href="#">Senior Software Engineer</a></li>
            </ul>
             <div>
                <h1 style="color: coral;font-size:50px;">Internship</h1>
            </div>
            <ul>
                <li><a href="#">UI/UX Developer Intern</a></li>
                <li><a href="#">Graphic Designer Intern</a></li>
                <li><a href="#">Software Engineer Intern</a></li>
                <li><a href="#">Operations Intern</a></li>
                <li><a href="#">Full Stack Developer Intern</a></li>
            </ul>
<q style=" font-size:30px">Don't find your perfect Profile Email your CV
     <span style="color: coral;">stonight@gmail.com</span></q>
        </div>
             </div>
     
  
{{>footer}}
</body>
</html>