<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {margin: 0;}
        
        ul.topnav {
          position: -webkit-sticky;
          position: sticky;
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        ul.topnav li {float: right;}
        
        ul.topnav li a {
          font-size: 20px;
          display: block;
          color: white;
          text-align: center;
          padding: 34px 36px;
          text-decoration: none;
        }
        
        ul.topnav li a:hover:not(.active) {background-color: #111; }
        
        
        ul.topnav li.right {float: right;}
        
        @media screen and (max-width: 600px) {
          ul.topnav li.right, 
          ul.topnav li {float: none;}
          ul.topnav li a{}
          #titleLogo{font-size: 8px; text-align: center;}
        }
        </style>
</head>
<body>
 
<ul class="topnav"> 
    <li style="float: left; color: #fff;font-size: 35px;text-transform: uppercase;" id="titleLogo"><a href="#">Study<span style="color: coral;">Tonight</span></a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/career">Career</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</body>
</html>